<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" collapse="true">
      <ion-back-button defaultHref="/app/conversations"></ion-back-button>
    </ion-buttons>
    <ion-title>Carsharing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-back-button defaultHref="/app/conversations"></ion-back-button>
        </ion-buttons>
        <ion-title size="large">Carsharing</ion-title>
      </ion-toolbar>
    </ion-header>
    <div *ngIf="!(chatMsgs.length > 0)" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list class="chat-list no-bg" lines="none">
      <ion-item *ngFor="let chat of chatMsgs">
        <div class="chat-bubble" [class.own]="chat.author == userService?.currentUser?.user_id">
          <p class="chat-message">{{chat.msg}}<br>
            <span class="chat-date">{{chat.dateCreated | date:'MMM d h:m'}}</span>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div class="content aligner">
    <ion-chip *ngIf="!pickMeUp" (click)="pickMeUpInit()" outline color="primary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Pick me up</ion-label>
    </ion-chip>
    <ion-chip *ngIf="pickMeUp && !(alone || share)" (click)="driveAlone()" outline color="secondary">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Drive alone</ion-label>
    </ion-chip>
    <ion-chip *ngIf="pickMeUp && !(alone || share)" (click)="shareRide()" outline color="tertiary">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Share ride</ion-label>
    </ion-chip>
  </div>
</ion-footer>