.placeholder-icon {
  font-size: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#pwa {
  height: 0px;
  visibility: hidden;
}

.imgCropper {
  max-width: 500px;
  max-height: 500px;
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
