<ion-header translucent="true">
  <ion-toolbar *ngIf="!isMobile">
    <ion-buttons slot="start">
      <ion-button color="tertiary">
        <ion-icon name="rose-outline" class="ion-margin-end"></ion-icon>
        <b>livelihood.foundation</b>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" collapse="true" [routerLink]="['/info']" routerDirection="forward">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isMobile">
    <ion-title>Conversations</ion-title>
    <ion-buttons slot="primary" collapse="true" [routerLink]="['/info']" routerDirection="forward">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-tab-bar *ngIf="!isMobile" translucent="true" class="no-border">
    <ion-tab-button tab="conversations" layout="icon-start" selected="true">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Conversations</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="feed" layout="icon-start">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="me" layout="icon-start">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-button [routerLink]="['/info']" routerDirection="forward">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title size="large">Conversations</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list class="no-bg">
      <ion-list-header>
        Bots & Helpers
      </ion-list-header>
      <ion-item button [routerLink]="['/notes']">
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>
          <h2>Personal Notes</h2>
        </ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/utility']">
        <ion-icon slot="start" name="speedometer-outline"></ion-icon>
        <ion-label>
          <h2>Utility Manager</h2>
        </ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/ride']">
        <ion-icon slot="start" name="car-sport-outline"></ion-icon>
        <ion-label>
          <h2>Pick me up</h2>
        </ion-label>
      </ion-item>
      <ion-list-header>
        Contacts
      </ion-list-header>
      <div *ngIf="refreshing || !(conversations.length > 0)">
        <ion-item>
          <ion-avatar slot="start">
            <div class="photo"></div>
          </ion-avatar>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
        <ion-item *ngIf="!refreshing" button [routerLink]="['/app/feed']">
          <ion-label text-wrap>
            <h2>Have a look at your Feed and start a conversation with someone</h2>
          </ion-label>
        </ion-item>
      </div>
      <div *ngIf="!refreshing">
        <ion-item *ngFor="let chat of conversations" class="no-bg" button [routerLink]="['/chat/' + chat.user]">
          <ion-avatar slot="start">
            <img *ngIf="chat.img" [lazyLoad]="chat.img">
          </ion-avatar>
          <ion-label class="no-bg">
            <h2>{{chat.user | titlecase}}</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>