<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="tertiary">
        <ion-icon name="rose-outline" class="ion-margin-end"></ion-icon>
        <b>livelihood.foundation</b>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="currentUser" slot="end" collapse="true">
      <ion-back-button defaultHref="/app/feed"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!currentUser" slot="end" [routerLink]="['/login']" routerDirection="forward">
      <ion-button>
        <ion-icon name="log-in-outline"></ion-icon>
        login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <info-slider></info-slider>
</ion-content>