<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" collapse="true">
      <ion-back-button defaultHref="/app/conversations"></ion-back-button>
    </ion-buttons>
    <ion-title>Utility Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-back-button defaultHref="/app/conversations"></ion-back-button>
        </ion-buttons>
        <ion-title size="large">Utility Manager</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list class="chat-list no-bg" lines="none">
      <ion-item>
        <div class="chat-bubble">
          <p class="chat-message">Hello {{currentUser?.user_id | titlecase}}<br>
            You're current available bandwidth is {{inetSpeed}} GB/s<br><br>
            You're current power usage is {{powerUsage}} kWh<br><br>
            Connected peers {{peers}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <div class="chat-bubble">
          <p class="chat-message">Do you need something else?
          </p>
        </div>
      </ion-item>
      <ion-item *ngFor="let chat of chatMsgs">
        <div class="chat-bubble" [class.own]="chat.author == userService?.currentUser?.user_id">
          <p class="chat-message" [class.dangerBot]="chat.author != userService?.currentUser?.user_id">{{chat.msg}}<br>
            <span class="chat-date">{{chat.dateCreated | date:'MMM d h:m'}}</span>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div class="content aligner">
    <ion-chip *ngIf="!stopSharing" (click)="stopSharingInit()" outline color="danger">
      <ion-icon name="share-social-outline"></ion-icon>
      <ion-label>Stop sharing</ion-label>
    </ion-chip>
  </div>
</ion-footer>