<ion-header>

  <ion-toolbar color="primary">

    <ion-title>{{modalTitel}}</ion-title>

    <ion-buttons slot="end">
      <ion-button class="close-modal-button" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <form [formGroup]="form" id="form" (keyup.enter)="saveForm()">
    <ion-item [ngClass]="{error_warn : hasFormError('title')}">
      <ion-label position="floating">
        Title<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-note *ngIf="hasFormError('title')" class="fadeInWarn" color="danger">
      Please fill out this field
    </ion-note>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="note"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Attachment</ion-label>
    </ion-item>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
      <ion-segment-button value="none">
        <ion-label>None</ion-label>
      </ion-segment-button>
      <ion-segment-button value="image" layout="icon-start">
        <ion-icon name="image-outline"></ion-icon>
        <ion-label>Image</ion-label>
      </ion-segment-button>
      <ion-segment-button disabled value="video" layout="icon-start">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Video</ion-label>
      </ion-segment-button>
      <ion-segment-button disabled value="file" layout="icon-start">
        <ion-icon name="document-attach-outline"></ion-icon>
        <ion-label>File</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="selectedSegment == 'image'" class="img-upload-wrapper">
      <app-image-upload *ngIf="img.blob" [img]="img" formControlName="img">
      </app-image-upload>
    </div>
    <br>
  </form>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button type="submit" (click)="saveForm()">
    <ion-icon name="save-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>