<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" collapse="true">
      <ion-back-button defaultHref="/app/conversations"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat with {{contactName | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-back-button defaultHref="/app/conversations"></ion-back-button>
        </ion-buttons>
        <ion-title size="large">Chat with {{contactName | titlecase}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <div *ngIf="!(chatMsgs.length > 0)" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list class="chat-list no-bg" lines="none">
      <ion-item *ngFor="let chat of chatMsgs">
        <div class="chat-bubble" [class.own]="chat.author == userService?.currentUser?.user_id">
          <p class="chat-message">{{chat.msg}}<br>
            <span class="chat-date">{{chat.dateCreated | date:'MMM d h:m'}}</span>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div class="content">
    <ion-toolbar class="footer-toolbar">
      <ion-textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="1" class="chat-input"
        [(ngModel)]="message" placeholder="type message..." (keyup.enter)="addChat()"
        (keydown.enter)="preventDefault($event)">
      </ion-textarea>
      <ion-buttons slot="primary">
        <ion-button [disabled]="!(message.length > 0)" (click)="addChat()" slot="end" class="send-chat-button">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-footer>