.info-slider {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: var(--ion-background-color);
}

.info-img {
  width: 150px;
}

.feature-list {
  max-width: 500px;
  margin: auto;
}

.feature-item ion-icon {
  font-size: 30px;
}

.cta-logo {
  font-size: 150px;
}

.no-border-radius {
  border-radius: 0px !important;
}

.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.code-button {
  min-width: 240px;
}
