<ion-slides #slides pager="true" class="info-slider">
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <div class="aligner">
        <ion-card-content class="aligner-item" style="max-width: 700px; width: 100%;">
          <div class="iframe-container">
            <iframe sandbox="allow-same-origin allow-scripts allow-popups"
              src="https://diode.zone/videos/embed/fdf0d656-5354-4cf7-ba00-87391c9e1360?title=0&warningTitle=0"
              frameborder="0" allowfullscreen></iframe>
          </div>
          <ion-card-header>
            <ion-card-subtitle>Swipe to see more</ion-card-subtitle>
            <ion-card-title>Download Links</ion-card-title>
          </ion-card-header>
          <ion-button color="primary" fill="outline" type="button" download class="ion-margin-bottom code-button"
            href="https://diode.zone/download/videos/fdf0d656-5354-4cf7-ba00-87391c9e1360-1080.mp4">
            <ion-icon slot="start" name="download-outline"></ion-icon>
            Download Video
          </ion-button>
          <br>
          <ion-button color="success" fill="outline" type="button" href="https://git.heichling.xyz/max/livelihood"
            target="_blank" class="ion-margin-bottom code-button">
            <ion-icon slot="start" name="code-outline"></ion-icon>
            git.heichling.xyz
          </ion-button>
          <br>
          <ion-button color="dark" fill="outline" type="button" download class="code-button"
            href="https://git.heichling.xyz/max/livelihood/raw/branch/master/client/android/livelihood.foundation.apk">
            <ion-icon slot="start" name="logo-android"></ion-icon>
            Cross-Platform Poc
          </ion-button>
        </ion-card-content>
      </div>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-next" (click)="next()"></div>
  </ion-slide>
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <img src="/assets/info/community.svg" class="ion-padding-top info-img" />
      <ion-card-header>
        <ion-card-subtitle>By the people, for the people</ion-card-subtitle>
        <ion-card-title>Sustainable & affordable livelihoods</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="feature-list">
          <ion-item lines="none" class="feature-item">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Get your daily needs: food, transport and utilities for the lowest price
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="earth-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Organised by a decentralised non-profit foundation so that you only pay what you are using
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="leaf-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              100% green and sustainable
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-next" (click)="next()"></div>
    <div *ngIf="!isMobile" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <img src="/assets/info/hydroponic.svg" class="ion-padding-top info-img" />
      <ion-card-header>
        <ion-card-subtitle>Fresh veggies, fruits, fish & more</ion-card-subtitle>
        <ion-card-title>Automated aquaponics circulation system</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="feature-list">
          <ion-item lines="none" class="feature-item">
            <ion-icon name="water-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Nitrogen-rich water from the fish tanks supplies nutrients to the plants in hydro-beds
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="leaf-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              The plants purify the water and grow very quickly and with high yield
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="bug-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              The plant residues are used to breed black soldier flies, a very high-calorie and fast-growing beetle,
              which are then fed to the fish
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-next" (click)="next()"></div>
    <div *ngIf="!isMobile" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <img src="/assets/info/autonomous-vehicle.svg" class="ion-padding-top info-img" />
      <ion-card-header>
        <ion-card-subtitle>Go anywhere, any time</ion-card-subtitle>
        <ion-card-title>Driver-less autonomous car-sharing</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="feature-list">
          <ion-item lines="none" class="feature-item">
            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Drive alone or with others to save you money
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="book-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Concentrate not on driving but on what is important to you
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="pin-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Pickup within less than 15 minutes
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile" class="swiper-button-next" (click)="next()"></div>
    <div *ngIf="!isMobile" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
  <ion-slide>
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <img src="/assets/info/green-utility.svg" class="ion-padding-top info-img" />
      <ion-card-header>
        <ion-card-subtitle>Use and sell energy & internet</ion-card-subtitle>
        <ion-card-title>Decentralised utility market</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="feature-list">
          <ion-item lines="none" class="feature-item">
            <ion-icon name="battery-charging-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Sell your excess self-produced electricity or request additional power
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="wifi-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Give others access to your excess bandwidth or buy more speed when you need it
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="feature-item">
            <ion-icon name="globe-outline" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              Your neighbor, your grandma and maybe even your doghouse supply each other with electricity and internet
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile && !currentUser" class="swiper-button-next" (click)="next()"></div>
    <div *ngIf="!isMobile" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
  <ion-slide *ngIf="!currentUser">
    <ion-card class="info-slider ion-no-margin no-border-radius">
      <ion-card-header>
        <ion-icon name="rose-outline" color="tertiary" class="cta-logo"></ion-icon>
        <ion-card-subtitle>let's change the world together</ion-card-subtitle>
        <ion-card-title>Join now!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="content">
          <ion-button color="primary" expand="block" type="button" [routerLink]="['/login']" routerDirection="forward">
            Login
          </ion-button>
          <hr class="hr-text" data-content="New here?" />
          <ion-button color="secondary" expand="block" fill="outline" type="button" [routerLink]="['/register']"
            routerDirection="forward">
            Create an Account
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="!isMobile && !currentUser" class="swiper-button-prev" (click)="prev()"></div>
  </ion-slide>
</ion-slides>