ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.standard-bg {
  --background: var(--ion-background-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mailConfirmMsg {
  color: var(--ion-color-success);
  text-align: center;
  font-size: 20px;
}

.mailConfirmMsg ion-icon {
  position: relative;
  top: 3px;
  bottom: 3px;
  margin-right: 5px;
}

.fadeInWarn {
  animation-name: fadeIn;
  animation-duration: 1s;
  text-align: center;
  padding-top: 3px;
}

.error_warn {
  color: var(--ion-color-tertiary);
}

.forgot-pwd {
  color: var(--ion-color-medium);
  font-size: 14px;
  text-decoration: none;
}