.profile-img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-spinner {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-card-content {
  padding: 0 !important;
  max-height: 360px;
}
