<ion-header translucent="true">
  <ion-toolbar *ngIf="!isMobile">
    <ion-buttons slot="start">
      <ion-button color="tertiary">
        <ion-icon name="rose-outline" class="ion-margin-end"></ion-icon>
        <b>livelihood.foundation</b>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" collapse="true">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" collapse="true" [routerLink]="['/info']" routerDirection="forward">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isMobile">
    <ion-title>{{userName | titlecase}}</ion-title>
    <ion-buttons slot="primary" collapse="true">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" collapse="true" [routerLink]="['/info']" routerDirection="forward">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-tab-bar *ngIf="!isMobile" translucent="true" class="no-border">
    <ion-tab-button tab="conversations" layout="icon-start">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Conversations</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="feed" layout="icon-start">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="me" layout="icon-start" selected="true">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-button [routerLink]="['/info']" routerDirection="forward">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="goToSettings()">
            <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title size="large">{{userName | titlecase}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card class="no-bg">
      <ion-avatar class="profile-img ion-margin">
        <ion-spinner *ngIf="!profileImg" class="profile-img-spinner"></ion-spinner>
        <img *ngIf="profileImg" [lazyLoad]="profileImg" />
      </ion-avatar>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked">Bio</ion-label>
          <ion-text>{{bio}}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-list class="no-bg">
      <div *ngIf="!(userDocs.length > 0) || refreshing" class="skeleton-cards">
        <div *ngIf="!refreshing" class="aligner-item ion-padding">
          <div class="icon-header" (click)="openModal()">
            <ion-text color="medium">
              <h4><i>It is empty here</i></h4>
            </ion-text>
            <ion-text color="primary">
              <h2>Create a post by pressing the <b>+</b> button</h2>
            </ion-text>
          </div>
        </div>
        <app-skeleton-card></app-skeleton-card>
      </div>
      <div *ngIf="!refreshing && (userDocs.length > 0)">
        <app-doc-list [doc]="userDocs" (docUpdated)="onDocUpdate($event)"></app-doc-list>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="privateForm">
  <ion-fab-button (click)="openModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>