<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" collapse="true">
      <ion-back-button defaultHref="app/me"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="primary" collapse="true">
      <ion-button (click)="logoutPrompt()">
        <ion-icon slot="icon-only" name="power-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" fullscreen="true">
  <div class="content">
    <ion-header collapse="condense">
      <ion-toolbar color="ion-color-step-50">
        <ion-buttons slot="end" collapse="true">
          <ion-back-button defaultHref="app/me"></ion-back-button>
          <ion-button (click)="logoutPrompt()">
            <ion-icon slot="icon-only" name="power-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title size="large">Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-segment *ngIf="user.roles[0] === 'admin' && networkStatus.connected" (ionChange)="segmentChanged($event)"
      [value]="selectedSegment">
      <ion-segment-button value="profile">
        <ion-label>Profile settings</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <ion-label>Admin dashboard</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-list *ngIf="selectedSegment === 'profile'" lines="none" class="no-bg">
      <ion-item [button]="true" (click)="openProfileModal()">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-avatar *ngIf="profileImg" slot="end">
          <img [lazyLoad]="profileImg">
        </ion-avatar>
        <ion-label>
          <h2>{{user.user_id | titlecase}}</h2>
          <h3>Edit profile</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="shield-outline"></ion-icon>
        <ion-label>
          <h2><span *ngFor="let role of user.roles">{{role | titlecase}} </span></h2>
          <h3>Role</h3>
        </ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="toggleDarkMode()">
        <ion-icon *ngIf="darkMode" slot="start" name="moon-outline"></ion-icon>
        <ion-icon *ngIf="!darkMode" slot="start" name="sunny-outline"></ion-icon>
        <ion-label>
          <h2 *ngIf="darkMode">Dark mode ON</h2>
          <h2 *ngIf="!darkMode">Dark mode OFF</h2>
        </ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="presentChngEmailPrompt()">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label>
          <h2>{{userEmail}}</h2>
          <h3>Change E-mail</h3>
        </ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="presentChngPwPrompt()">
        <ion-icon slot="start" name="key-outline"></ion-icon>
        <ion-label>
          <h2>Change password</h2>
        </ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="presentDelAccPrompt()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        <ion-label>
          <h2>Delete account</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="selectedSegment === 'admin'" lines="none" class="no-bg">
      <ion-item *ngIf="!(userList.length > 0)">
        <ion-avatar slot="start">
          <div class="photo"></div>
        </ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item *ngFor="let user of userList">
        <ion-avatar slot="start">
          <img [lazyLoad]="user.img">
        </ion-avatar>
        <ion-label>
          <h2><b>{{user._id | titlecase}}</b> - <span *ngFor="let role of user.roles">{{role}} </span></h2>
          <h3>{{user.email}}</h3>
        </ion-label>
        <ion-button slot="end" fill="none" size="large" shape="round" (click)=openUsrCtrlModal(user)>
          <ion-icon name="create-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>